<section class="section-page">
  <div class="container">
    <div class="section__header">
      <h1>Contact</h1>
      <!-- <form action="">
        <div class="row">
          <div class="col-sm-6">
            <div class="form-field">
              <label for="">First Name</label>
              <input type="text">
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-field">
              <label for="">Last Name</label>
              <input type="text">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-field">
              <label for="">Mail</label>
              <input type="email">
            </div>
          </div>
          <div class="col-sm-12">
            <div class="form-field">
              <label for="">Message</label>
              <textarea name="" id="" cols="30" rows="10"></textarea>
            </div>
          </div>
        </div>
      </form> -->
      <!-- <h2>Follow me</h2> -->
    </div>
  </div>
</section>
