.page {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding-left: 3rem;
  padding-right: 3rem;
}

.collection-container {
  max-height: calc(100vh - 14.4rem + 3rem);
  overflow-y: auto;
  padding-top: 3rem;
}
