<section class="section is-hero">
  <div class="lines">
    <div class="line-item"></div>
    <div class="line-item"></div>
    <div class="line-item"></div>
  </div>
  <div class="container section__content">
    <div class="row align-items-center">
      <div class="col-sm-6">
        <h1 data-aos="fade-right" data-aos-delay="100">
          L'univers artistique de
          <span>Toma Grafik</span>
        </h1>
      </div>
      <div class="col-sm-6 d-flex justify-content-end">
        <div class="one" data-aos="fade-left" data-aos-delay="100">
          <div class="one__content">
            <img class="img-cover" src="assets/img/one/4.jpg">
          </div>
          <div class="one__eye">
            <img class="img-cover" src="assets/img/one/4.jpg">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="scroll-down">
  <div class="scroll-down__content">
    <img src="assets/img/scroll-down.svg">
  </div>
</div>
