<section class="section section-page">
  <div class="container">
    <div class="section__header">
      <h1><span>{{ collectionSlug }}</span> collection</h1>
    </div>
    <div class="filters">
      <button [class.is-active]="filter === ''" class="btn" (click)="filterReinit()">Tous</button>
      <button [class.is-active]="filter === 'black'" class="btn" (click)="filterBlack()">Black & white</button>
      <button [class.is-active]="filter === 'colored'" class="btn" (click)="filterColored()">Colored</button>
    </div>
    <div class="collection-container">
      <ng-container *ngFor="let project of collectionProjectsFiltered; let i=index">
        <app-collection-detail data-aos="fade-up" data-aos-offset="100" [project]="project"></app-collection-detail>
      </ng-container>
    </div>
  </div>
</section>
