:root {
  --color-bg: #ffffff;
  --color-primary: #1B1B1B;
  --color-secondary: #BBBBBB;
  --font-family: 'Abril Fatface, serif';
}

.studio {
  font-family: var(--font-family);
  position: relative;
  z-index: 10000;
  color: var(--color-primary);
}

.back-home {
  display: block;
  position: fixed;
  bottom: 2rem;
  left: 2rem;
  color: var(--color-bg);
  border: 1px solid var(--color-bg);
  background: var(--color-white);
  height: 4rem;
  border-radius: 2rem;
  padding: 0 2rem;
  display: flex;
  align-items: center;
}
