@use 'src/assets/scss/mixins' as *;

.section {
  
  &__content {
    height: 100%;
    display: flex;
    align-items: center;
  }
  
  // CATEGORY
  &.is-category {
    padding: 5rem 0;
    position: relative;
    overflow: hidden;
    @include breakpoint-min(sm) {
      min-height: 100vh;
      padding: 10rem 0;
    }

    .category-list {
      display: flex;
      flex-direction: column;
      width: 100%;
    }
    .category-link {
      font-size: 15rem;
      font-family: 'SquadaOne';
      display: block;
      overflow: hidden;
      display: flex;
      justify-content: center;
      position: relative;
      padding: 2rem 2rem;
      @include breakpoint(sm) {
        font-size: 6rem;
      }
      &::after {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        background: var(--color-orange);
        transform: rotate(0deg) scale(1.2) translateY(100%);
        mix-blend-mode: difference;
        opacity: 1;
        height: 150%;
        width: 100%;
        transition: all .5s ease-in-out;
        pointer-events: none;
      }
      span {
        display: block;
        width: 132rem;
        max-width: 100%;
        pointer-events: none;
      }
      &:hover, &:focus {
        cursor: none;
        &::after {
          transform: rotate(-5deg) scale(1.2) translateY(30%);
          opacity: 1;
        }
      }
    }
  }
}

h2 {
  font-family: 'SquadaOne';
  font-size: 4rem;
  text-align: center;
  margin-bottom: 4rem;
  position: relative;
  display: flex;
  justify-content: center;
  @include breakpoint(sm) {
    font-size: 3rem;
  }

  span {
    position: relative;
    padding: 0 4rem;
    &::after {
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: var(--color-orange);
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &::before {
      content: '';
      width: 0.8rem;
      height: 0.8rem;
      border-radius: 50%;
      background: var(--color-orange);
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}
