<section id="category" class="section is-category">
  <div class="container">
    <h2 data-aos="flip-up" data-aos-delay="300">
      <span>{{ 'Landing.Category.Title' | translate }}</span>
    </h2>
  </div>
  <div class="section__content">
    <div class="category-list">
      <a
        class="category-link"
        data-aos="flip-up"
        data-aos-delay="300"
        [routerLink]="'/collections/nantes'"
        [queryParams]="{id: 1, collection: 'nantes'}"
      >
        <span>Nantes</span>
      </a>
      <a
        class="category-link"
        data-aos="flip-up"
        data-aos-delay="300"
        [routerLink]="'/collections/japan'"
        [queryParams]="{id: 1, collection: 'japan'}"
      >
        <span>Japan store</span>
      </a>
      <a
        class="category-link"
        data-aos="flip-up"
        data-aos-delay="300"
        [routerLink]="'/collections/cocktail'"
        [queryParams]="{id: 1, collection: 'cocktail'}"
      >
        <span>Cocktail</span>
      </a>
    </div>
  </div>
</section>
