<section class="section is-category">
  <div class="section__content">
    <div class="category-list">
      <a class="category-link" data-aos="flip-up" data-aos-delay="300" href="">
        <span>Nantes</span>
      </a>
      <a class="category-link" data-aos="flip-up" data-aos-delay="300" href="">
        <span>Japan store</span>
      </a>
      <a class="category-link" data-aos="flip-up" data-aos-delay="300" href="">
        <span>Cocktail</span>
      </a>
    </div>
  </div>
  <div #cursorCategory class="cursor-category">
    <div class="cursor-category__content"></div>
  </div>
</section>
