<section id="section-one" class="section is-one">
  <div class="lines">
    <div class="line-1">
      <svg version="1.1" preserveAspectRatio="xMaxYMid meet" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	      viewBox="0 0 966 467.6" style="enable-background:new 0 0 966 467.6;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:none;stroke:#8F5F00;stroke-miterlimit:10;}
          .st1{fill:#FFFFFF;stroke:#8F5F00;stroke-miterlimit:10;}
          .st2{fill:#FFC700;}
        </style>
        <g class="line1" #line1>
          <path class="st0" d="M-42,467.1h841.5V12.6h154"/>
        </g>
        <g class="line1dot" #line1dot>
          <circle class="st1" cx="953.3" cy="12.6" r="12"/>
          <circle class="st2" cx="953.3" cy="12.6" r="6"/>
        </g>
      </svg>
    </div>
    <svg class="line2" #line2 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      viewBox="0 0 1425.5 228.5" style="enable-background:new 0 0 1425.5 228.5;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:none;stroke:#8F5F00;}
      </style>
      <path class="st0" d="M1425,0.5L0,0.5l0,228"/>
    </svg>
    <svg class="line3" #line3 version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	    viewBox="0 0 480 661" style="enable-background:new 0 0 480 661;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:none;stroke:#8F5F00;}
      </style>
      <polyline class="st0" points="481.7,660.5 0.5,660.5 0.5,0.5 480.9,0.5 "/>
    </svg>
  </div>
  <div class="block first"></div>
  <div class="block second"></div>
  <div class="block third"></div>
  <div class="block fourth"></div>
  <div class="section__left">
    <div class="logo">
      <img src="assets/img/logo.svg" height="50" alt="">
    </div>
    <h1>Make a sketch</h1>
    <a [routerLink]="'/projects'" class="btn btn-border">See projects</a>
  </div>
  <div class="section__right">
    <div class="thumbnail">
      <img class="img-responsive" src="assets/img/one/1.jpg" alt="">
    </div>
  </div>
</section>
