@use 'src/assets/scss/mixins' as *;

.section {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 4rem;
  @include breakpoint-min(sm) {
    flex-direction: row;
    padding-bottom: 0;
  }
  &__left,
  &__right {
    flex: 1;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem 0;
    flex: 0 0 auto;
    gap: 1.6rem;
    position: relative;
    z-index: 30;
    @include breakpoint-min(sm) {
      padding: 0 10rem 5rem 10rem;
      flex: 1;
      align-items: center;
    }
    .logo {
      display: flex;
      justify-content: center;

      @include breakpoint-min(sm) {
        margin-bottom: 4rem;
        > img {
          height: 10rem;
        }
      }
    }
    h1 {
      font-size: 2.4rem;
      @include breakpoint-min(sm) {
        margin-bottom: 4rem;
        font-size: 8rem;
      }
    }
  }

  &__right {
    padding: 4rem 4rem 4rem 8rem;
    position: relative;
    z-index: -1;
  }

}

.block {
  background: var(--color-white);
  opacity: 0.05;
  position: fixed;
  pointer-events: none;
  &.first {
    left: -5.6rem;
    top: 19rem;
    width: 26rem;
    height: 26rem;
    @include breakpoint(md) {
      width: 20vw;
    }
  }
  &.second {
    top: 4rem;
    right: -4rem;
    width: 33rem;
    height: 33rem;
    @include breakpoint(md) {
      width: 20vw;
    }
  }
  &.third {
    bottom: -3.4rem;
    right: 5rem;
    width: 15rem;
    height: 15rem;
    @include breakpoint(md) {
      width: 15vh;
    }
  }
  &.fourth {
    left: 50%;
    top: 50%;
    width: 12rem;
    height: 12rem;
    @include breakpoint(md) {
      width: 10vw;
      top: 0;
      left: 10vw;
    }
  }
}

.lines {
  width: 100vw;
  height: 100vh;
  position: absolute;
  inset: 0;
  pointer-events: none;
  overflow: hidden;
  @include breakpoint(md) {
    display: none;
  }
  div[class^="line"] svg {
    fill: none;
    stroke: var(--color-golden);
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .line-1 {
    width: 965px;
    height: 468px;
    top: 50%;
    right: 40%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 20;
    svg {
      .line1 {
        stroke-dasharray: 1500;
        stroke-dashoffset: -1500;
        transition: stroke-dashoffset 1.5s cubic-bezier(1,.61,1,.74);
        & + .line1dot {
          transform: scale(0);
          opacity: 0;
          transition: all .3s 1.3s ease-in;
          transform-origin: center;
          transform-box: fill-box;
        }
        &.animated {
          stroke-dashoffset: -3000;
          & + .line1dot {
            transform: scale(1);
            opacity: 1;
          }
        }
      }
    }
  }
  .line2 {
    position: absolute;
    top: 80%;
    left: 12rem;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
    transition: stroke-dashoffset 1.5s cubic-bezier(1,.61,1,.74);
    z-index: 20;
    &.animated {
      stroke-dashoffset: 0;
    }
  }
  .line3 {
    transform: translateY(-50%);
    position: absolute;
    top: 50%;
    right: 0;
    width: 30%;
    stroke-dasharray: 1900;
    stroke-dashoffset: 1900;
    transition: stroke-dashoffset 1.5s cubic-bezier(1,.61,1,.74);
    z-index: -1;
    &.animated {
      stroke-dashoffset: 0;
    }
  }
}
