<section id="section-one" class="section is-one">
  <div class="lines">
    <div class="line-1">
      <svg #line1 version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
        viewBox="0 0 954 456" style="enable-background:new 0 0 954 456;" xml:space="preserve">
      <path class="st0" d="M-42,455.5h841.5V1h154"/>
      </svg>
    </div>
  </div>
  <div class="block first"></div>
  <div class="block second"></div>
  <div class="block third"></div>
  <div class="block fourth"></div>
  <div class="section__left">
    <div class="logo">
      <img src="assets/img/logo.svg" height="50" alt="">
    </div>
    <h1>Make a sketch</h1>
    <a href="" class="btn btn-border">See projects</a>
  </div>
  <div class="section__right">
    <div class="thumbnail">
      <img class="img-responsive" src="assets/img/one/1.jpg" alt="">
    </div>
  </div>
</section>
