<section id="section-one" class="section is-one">
  <div class="block first"></div>
  <div class="block second"></div>
  <div class="block third"></div>
  <div class="block fourth"></div>
  <div class="section__left">
    <div class="logo">
      <img src="assets/img/logo.svg" height="50" alt="">
    </div>
    <h1>Sketch what you feel</h1>
    <a href="" class="btn btn-border">See projects</a>
  </div>
  <div class="section__right">
    <div class="thumbnail">
      <img class="img-responsive" src="assets/img/one/1.jpg" alt="">
    </div>
  </div>
</section>
