.btn-toggle {
  background: transparent;
  border: 1px solid var(--color-white);
  border-radius: 1rem .5rem;
  height: 3.2rem;
  width: 6.4rem;
  padding: 0.4rem;
  display: flex;
  align-items: center;

  span {
    width: 3rem;
    height: 2.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.4rem;
    font-family: 'SquadaOne';
    color: var(--color-orange);
    background: var(--color-white);
    border-radius: .6rem .1rem;
    transition: all .3 ease-in-out;
    opacity: 1;
    &.btn-toggle__left {
      opacity: 1;
    }
    &.btn-toggle__right {
      opacity: 0;
    }
  }
  &.is-active {
    span.btn-toggle__left { opacity: 0; }
    span.btn-toggle__right { opacity: 1; }
  }
}
