.btn {
  border: none;
  box-shadow: none;
  padding: 0;
  margin: 0;
  background: transparent;
  color: var(--color-white);
  font-family: var(--ff);

  &:hover, &:focus {
    // cursor: url(../img/cursor-hover.svg) 8 8, auto;
    cursor: pointer;
  }

  &.btn-primary {
    color: var(--color-white);
    min-height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    padding: 0rem 1.5rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    &:before {
      content: '';
      background: var(--color-blue);
      position: absolute;
      inset: 0 auto 0 0;
      width: 65%;
      z-index: -1;
      transition: width .5s ease-in-out;
    }

    &:hover, &:focus {
      &:before {
        width: 110%;
      }
    }

    // ARROW RIGHT
    &.is-arrow-right {
      &::after {
        content: '';
        height: 4rem;
        width: 4rem;
        background: transparent url('../img/icons/arrow-right.svg') center center;
        background-size: contain;
        transform: translateX(-20%);
        opacity: 0;
        transition: all .3s .1s ease-in-out;
        position: absolute;
        right: 0;
        top: 0;
      }
      &:hover, &:focus {
        &::after {
          transform: translateX(100%);
          opacity: 1;
        }
      }
    }

  }

  &.btn-secondary {
    color: var(--color-white);
    min-height: 4rem;
    line-height: 4rem;
    font-size: 1.6rem;
    padding: 0rem 1.5rem;
    display: inline-flex;
    align-items: center;
    position: relative;
    z-index: 1;
    &:before {
      content: '';
      background: var(--color-white);
      position: absolute;
      opacity: 0.3;
      inset: 0 auto 0 0;
      width: 65%;
      z-index: 0;
    }
    &:hover, &:focus {

    }
  }

  &.btn-icon {
    color: var(--color-white);
    img {
      width: 6rem;
      height: 6rem;
    }
  }

  &.btn-shop {
    --alpha: 0.6;
    background: rgba(var(--color-bg));
    border: 1px solid var(--color-orange);
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    gap: .4rem;
    transform: translateY(0);
    transition: all .5s ease-in-out;
    position: relative;
    font-size: 1.6rem;
    span {
      color: var(--color-orange);
    }
    &:before {
      content: '';
      position: absolute;
      inset: 0;
      border-radius: 2rem;
      background: var(--color-orange);
      transition: all .5s ease-in-out;
      opacity: 0;
    }
    &:hover, &:focus {
      --alpha: 0.8;
      transform: translateY(-.3rem);
      &::before {
        opacity: 0.15;
      }
    }
  }

  &.btn-mail {
    font-family: 'SquadaOne';
    font-size: 3rem;
    position: relative;
    padding-left: 4rem;
    display: block;
    overflow: hidden;
    @include breakpoint(sm){
      font-size: 2rem;
      line-height: 3rem;
      padding: 0 2rem;
    }
    span {
      font-size: 6rem;
      @include breakpoint(sm){
        font-size: 2rem;
      }
    }
    &::before {
      content: '';
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      position: absolute;
      left: 0;
      top: 50%;
      background: var(--color-orange);
      @include breakpoint(sm){
        transform: translateY(-50%);
        width: 1rem;
        height: 1rem;
      }
    }
    &:after {
      content: '';
      background: var(--color-orange);
      position: absolute;
      left: 5rem;
      top: 0;
      bottom: 0;
      right: 0;
      mix-blend-mode: multiply;
      transform: rotate(0) translateY(100%) scale(1.4);
      transform-origin: left top;
      transition: all .5s ease-in-out;
      z-index: -1;
    }
    &:hover, &:focus {
      &::after {
        transform: rotate(-10deg) translateY(100%) scale(1.4);
      }
    }
  }

  &.btn-back {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    border: 1px solid var(--color-orange);
    display: flex;
    align-items: center;
    justify-content: center;
  }

}

