.btn.btn-arrows {
  width: 7rem;
  height: 5rem;
  color: var(--color-white);

  &[disabled] {
    pointer-events: none;
    opacity: 0.3;
  }

  > span {
    display: block;
    position: relative;

    &::before {
      content: '';
      height: 2px;
      width: 4rem;
      background: var(--color-white);
      transform: translateY(-50%);
      position: absolute;
      top: 50%;
      left: 0;
      transition: all .3s ease-in-out;
      display: block;
    }

    &::after {
      content: '';
      width: 1rem;
      height: 1rem;
      transform-origin: top;
      position: absolute;
      top: 50%;
      transition: all .3s ease-in-out;
      display: block;
    }

  }

  &.is-next {
    > span {
      &::before {
        transform-origin: left;
      }
      &::after {
        right: 2rem;
        transform: rotate(45deg) translateY(-50%);
        border-top: 2px solid var(--color-white);
        border-right: 2px solid var(--color-white);
      }
    }
    &:hover > span, &:focus > span {
      &::before {
        transform: translateY(-50%) scaleX(1.2);
      }
      &::after {
        right: 0rem;
      }
    }
  }

  &.is-prev {
    > span {
      &::before {
        transform-origin: right;
        left: 3rem;
      }
      &::after {
        left: 2rem;
        transform: rotate(-45deg) translateY(-50%);
        border-top: 2px solid var(--color-white);
        border-left: 2px solid var(--color-white);
      }
    }
    &:hover > span, &:focus > span {
      &::before {
        transform: translateY(-50%) scaleX(1.2);
      }
      &::after {
        left: 0rem;
      }
    }
  }

}
