@font-face {
  font-family: 'Short Stack';
  src: url('../fonts/ShortStack.woff2') format('woff2'),
      url('../fonts/ShortStack.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

