.header {
  position:sticky;
  z-index: 600;
  inset: 0 0 auto 0;
  padding: 1.5rem 2vw;
  height: var(--h-header);
  color: var(--color-white);
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &-menu {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
}
