h1 {
  font-family: 'SquadaOne';
  color: var(--color-white);
  font-size: 6rem;
  margin-bottom: 3rem;
  @include breakpoint(sm) {
    font-size: 3rem;
  }
  span {
    color: var(--color-orange);
    display: block;
    font-size: 10rem;
    @include breakpoint(sm) {
      font-size: 5rem;
    }
  }
}
