.section {
  min-height: 50vh;
  height: 100vh;
  h2 {
    font-size: 3.2rem;
    text-shadow: 0px 1rem .8rem rgba(255,255,255,0.3);
    @include breakpoint-min(sm) {
      font-size: 6rem;
    }
  }
  &.section-start {
    min-height: 100vh;
  }
  &.section-socials {
    background: var(--color-white);
  }
}

.section-page {
  padding: 0;
  .section__header {
    padding: 4rem 0;
  }
}
