.page__menu {
  position: fixed;
  inset: auto 0 0 0;
  display: flex;
  justify-content: center;
  gap: 8rem;

  @include breakpoint(md) {
    display: none;
  }

  .btn {
    height: 6rem;
    font-size: 2.4rem;
    font-family: 'CrimsonText';
    font-weight: 400;
    display: flex;
    align-items: center;
    padding: 0 2rem;
    &:before {
      width: 80%;
    }
  }

}
