:root {
  --color-bg: #070709;
  --color-bg-light: #141416;
  --color-blue: #121821;
  --color-blue-light: #4E77A8;
  --color-white: #FFFFFF;
  --color-grey: #EEEEEE;
  --color-gold: #8F5F00;
  --color-golden: #C29C5B;
  --color-yellow: #FFC700;
  --color-orange: #E46D33;
  --color-etsy: var(--color-golden);
  // --color-etsy: #F1641E;
  --color-etsy-rgb: 241,100,30;
  --ff: 'BerkshireSwash', Arial, sans-serif;

  --h-header: 10rem;

  --shadow: 0rem 0rem .5rem 0 rgba(0,0,0,25%);
  --shadow-card: 1.5rem 1.5rem 1.5rem 0 rgba(0,0,0,25%);
}

$breakpoint-xs: 480px;
$breakpoint-sm: 768px;
$breakpoint-md: 992px;
$breakpoint-l: 1200px;
$breakpoint-xl: 1400px;
