:root {
  --color-bg: #101010;
  --color-dark: #101010;
  --color-white: #FFFFFF;
  --color-grey: #EEEEEE;
  --color-gold: #C68200;
  --color-yellow: #FFC700;
  --ff: 'Short Stack', Arial, sans-serif;
}
