@use 'variables' as *;

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  font-family: var(--ff);
  color: var(--color-white);
  background: var(--color-bg);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--ff);
}

@import 'reset';
@import 'buttons';
