.section {
  overflow: hidden;
  padding: 4rem 0;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 34%;
    background: var(--color-white);
  }
}

.band {
  font-family: "SquadaOne";
  font-size: 7.8rem;
  color: var(--color-white);
  height: 11rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--color-orange);
  border: 5px solid var(--color-bg);
  width: 110vw;
  min-width: 190rem;
  transform: translateX(-5vw) rotate(1deg);
  &:nth-child(2) {
    width: 150vw;
    min-width: 240rem;
    transform: translateX(-25vw) rotate(-2deg);
  }
}
