<header class="active section-first">
  <div class="container">
    <div class="section__header">
      <h1>About</h1>
    </div>
  </div>
</header>
<section class="section-page" style="background-color: bisque;">
  <div class="d-flex justify-content-center align-items-center">
    Section
  </div>
</section>
<section class="section-page" style="">
  <div class="d-flex justify-content-center align-items-center">
    Section
  </div>
</section>
<footer>
  <div class="d-flex justify-content-center align-items-center">
    FOOTER
  </div>
</footer>
