<section class="section-concept">
  <div class="wrapper">
    <div class="concept-row">
      <div class="concept-images">
        <div class="concept-images-item" data-aos="fade-right" data-aos-delay="50">
          <img src="/assets/img/studio/archi/archi2.png" alt="" parallaxEffect [ratio]="0.1">
        </div>
        <div class="concept-images-item" data-aos="fade-right" data-aos-delay="50">
          <img src="/assets/img/studio/archi/archi4.png" alt="" parallaxEffect [ratio]="0.1">
        </div>
        <div class="concept-images-item" data-aos="fade-right" data-aos-delay="50">
          <img src="/assets/img/studio/archi/archi3.png" alt="" parallaxEffect [ratio]="0.1">
        </div>
      </div>
      <div class="concept-content">
        <h2 data-aos="fade-left" data-aos-delay="50">Concept</h2>
        <p data-aos="fade-left" data-aos-delay="100">Fusce commodo aliquam arcu. Donec posuere vulputate arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Praesent ut ligula non mi varius sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros.</p>
      </div>
    </div>
  </div>
</section>
