<div class="project-carousel animate__animated animate__fadeIn animate__slower" *ngIf="projects?.length !== 0">
  <div
    class="project-carousel__wrap"
    [style.width]="'calc(' + projects.length + '*100vw)'"
    [style.transform]="'translateX(calc(-' + selectedIndex + ' * 100vw ))'"
    >
    <!-- [style.transform]="'translateX(calc(-' + selectedIndex + ' * var(--decalage)))'" -->
    <ng-container *ngFor="let project of projects; let i=index">
      <app-project-item [project]="project" [isActive]="selectedIndex === i "></app-project-item>
    </ng-container>
  </div>
  <div class="project-carousel__nav">
    <a [routerLink]="'/collections/'" class="btn btn-back">
      Retour
    </a>
    <div class="project-carousel__nav-content">
      <button title="Précédent" class="btn btn-arrows is-prev" (click)="prevProject()">
        <span></span>
      </button>
      <button title="Suivant" class="btn btn-arrows is-next" (click)="nextProject()">
        <span></span>
      </button>
    </div>
    <div class="project-counter" *ngIf="projects?.length !== 1">
      <span>{{ selectedIndex + 1 }}</span>/ {{ projects.length }}
    </div>
  </div>
</div>
