<header class="header">
  <div class="header__content">
    <a title="" [routerLink]="'/'" class="header-logo" data-aos="fade-right" data-aos-delay="500">
      <img src="assets/img/logo.svg" alt="">
    </a>
    <!-- <button class="btn btn-toggle" [class.is-active]="isLightActive" (click)="isLightActive = !isLightActive">
      <span class="btn-toggle__left">B</span>
      <span class="btn-toggle__right">W</span>
    </button> -->
    <!-- <button class="btn btn-toggle" (click)="switchLang()">
      <span>{{ currentLang }}</span>
    </button> -->
    <div class="header-menu" data-aos="fade-left" data-aos-delay="500">
      <!-- <a href="/" class="btn btn-etsy">
        My <span>Shop</span>
      </a> -->
      <button type="button" [class.is-open]="isOpen" class="btn btn-menu" (click)="toggleMenu()">
        <span>{{'Button.Menu' | translate }}</span>
      </button>
    </div>
  </div>
</header>
<app-menu [isOpen]="isOpen"></app-menu>
