<header class="header">
  <div class="container">
    <a title="" [routerLink]="'/'" class="header-logo" data-aos="fade-right" data-aos-delay="500">
      <img src="assets/img/logo.svg" height="70" alt="">
    </a>
    <div class="header-menu" data-aos="fade-left" data-aos-delay="500">
      <!-- <a href="/" class="btn btn-etsy">
        My <span>ETSY</span> shop
      </a> -->
      <button [class.is-open]="isOpen" class="btn btn-menu" (click)="toggleMenu()">
        <span>Menu</span>
      </button>
    </div>
  </div>
</header>
<app-menu [isOpen]="isOpen"></app-menu>
