<header class="header">
  <div class="header__content">
    <a title="" [routerLink]="'/'" class="header-logo" data-aos="fade-right" data-aos-delay="500">
      <img src="assets/img/logo.svg" alt="">
    </a>
    <!-- <button class="btn btn-toggle" [class.is-active]="isLightActive" (click)="isLightActive = !isLightActive">
      <span class="btn-toggle__left">B</span>
      <span class="btn-toggle__right">W</span>
    </button> -->
    <!-- <button class="btn btn-toggle" (click)="switchLang()">
      <span>{{ currentLang }}</span>
    </button> -->
    <div class="header-menu" data-aos="fade-left" data-aos-delay="500">
      <!-- <a href="/" class="btn btn-etsy">
        My <span>Shop</span>
      </a> -->
      <button type="button" [class.is-open]="isOpen" class="btn btn-menu" (click)="toggleMenu()">
        <span>{{'Button.Menu' | translate }}</span>
      </button>
    </div>
  </div>
</header>
<nav class="header__nav" [class.is-open]="isOpen">
  <div class="header__nav-content">
    <ul class="header__nav-list">
      <li>
        <a (click)="changeRoute('/')"routerLinkActive="is-active" class="header__nav-link">
          <span>{{ 'Menu.Home' | translate }}</span>
        </a>
      </li>
      <li>
        <a (click)="changeRoute('/collections')" routerLinkActive="is-active" class="header__nav-link">
          <span>{{ 'Menu.Collections' | translate }}</span>
        </a>
      </li>
      <!-- <li>
        <a [routerLink]="'/about'" routerLinkActive="is-active" class="header__nav-link">
          <span>About</span>
        </a>
      </li> -->
      <!-- <li>
        <a [routerLink]="'/contact'" routerLinkActive="is-active" class="header__nav-link">
          <span>Contact</span>
        </a>
      </li> -->
    </ul>
  </div>
  <div class="menu__footer">
    <div class="menu__footer-content">
      <app-socials></app-socials>
      <a class="btn  btn-mail" href="mailto:tomagrafik.content@gmail.com">
        tomagrafik.contact<span>@</span>gmail.com
      </a>
    </div>
  </div>
</nav>
