<div class="project-carousel__item" [class.is-active]="isActive">
  <div class="project">
    <div
      class="project__thumbnail"
    >
      <img
        height="600"
        *ngIf="project.thumbnail.url !== ''"
        [src]="project.thumbnail.url"
        alt="{{ project.thumbnail.title }}"
        [ngClass]="{'animate__animated animate__fadeIn animate__slower' : isActive}"
      >
      <!-- <img height="600" *ngIf="project.photos" [src]="getPhotoThumbnail(project)" alt=""> -->
    </div>
    <div class="project__content">
      <h1 class="project__title">{{ project.title }}</h1>
      <div class="project__description">
        <p><span>Format</span>{{ project.sizeWidth }} x {{ project.sizeHeight }}</p>
        <p><span>Collection</span>{{ project.collection }}</p>
        <p><span>Creation date</span>{{ project.date | date }}</p>
      </div>
      <div class="project__photos">
        <button
          class="btn"
          *ngFor="let photo of project.photos; let j=index"
          [class.is-active]="project.thumbnail.url === photo.url"
          (click)="goToPhoto(j)"
        >
          <img height="100" *ngIf="photo.url !== ''" [src]="photo.url" alt="{{ photo.title }} - {{ photo.description }}">
        </button>
      </div>
    </div>
  </div>
</div>
