<section id="section-one" class="section is-one">
  <div class="block first"></div>
  <div class="block second"></div>
  <div class="block third"></div>
  <div class="block fourth"></div>
  <div class="section__left">
    <div class="logo" data-aos="fade-right" data-aos-delay="500">
      <img loading="lazy" src="assets/img/logo.svg" height="50" alt="">
    </div>
    <h1 data-aos="fade-right" data-aos-delay="550">Make a sketch</h1>
    <a data-aos="fade-right" data-aos-delay="600" [routerLink]="'/projects'" class="btn btn-border">See projects</a>
  </div>
  <div class="section__right" data-aos="fade-left" data-aos-delay="800">
    <div class="thumbnail">
      <img loading="lazy" class="img-responsive" src="assets/img/one/1.jpg" alt="">
    </div>
  </div>
</section>
