@use 'src/assets/scss/mixins' as *;

.section {
  display: flex;
  align-items: center;
  position: relative;
  flex-direction: column;
  padding-bottom: 4rem;
  @include breakpoint-min(sm) {
    flex-direction: row;
    padding-bottom: 0;
  }
  &__left,
  &__right {
    flex: 1;
  }
  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.6rem 0;
    flex: 0 0 auto;
    gap: 1.6rem;
    position: relative;
    z-index: 30;
    @include breakpoint-min(sm) {
      padding: 0 8rem 5rem 8rem;
      flex: 0 0 60%;
      align-items: center;
    }
    .logo {
      display: flex;
      justify-content: center;

      @include breakpoint-min(sm) {
        margin-bottom: 4rem;
        > img {
          height: 10rem;
        }
      }
    }
    h1 {
      font-size: 2.4rem;
      @include breakpoint-min(sm) {
        margin-bottom: 4rem;
        font-size: 8rem;
      }
    }
  }

  &__right {
    padding: 4rem;
    position: relative;
    z-index: -1;
    .thumbnail {
      display: flex;
      justify-content: flex-start;
    }
  }

}

.block {
  background: var(--color-white);
  opacity: 0.05;
  position: fixed;
  pointer-events: none;
  &.first {
    left: -5.6rem;
    top: 19rem;
    width: 26rem;
    height: 26rem;
    @include breakpoint(md) {
      width: 20vw;
    }
  }
  &.second {
    top: 4rem;
    right: -4rem;
    width: 33rem;
    height: 33rem;
    @include breakpoint(md) {
      width: 20vw;
    }
  }
  &.third {
    bottom: -3.4rem;
    right: 5rem;
    width: 15rem;
    height: 15rem;
    @include breakpoint(md) {
      width: 15vh;
    }
  }
  &.fourth {
    left: 50%;
    top: 50%;
    width: 12rem;
    height: 12rem;
    @include breakpoint(md) {
      width: 10vw;
      top: 0;
      left: 10vw;
    }
  }
}
