@use 'src/assets/scss/variables' as *;
@use 'src/assets/scss/mixins' as *;

.cursor-dot {
  --dotSize: .6rem;
  margin-top: calc(var(--dotSize) / -2);
  margin-left: calc(var(--dotSize) / -2);
  height: var(--dotSize);
  width: var(--dotSize);
  border-radius: var(--dotSize);
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  background: #FFF;
  // transition: transform .05s ease-in-out, top .05s, left .05s;
  z-index: 600;
  mix-blend-mode: difference;
  @include breakpoint(sm) {
    display: none;
  }
}

.cursor {
  --cursorSize: 4rem;
  margin-top: calc(var(--cursorSize) / -2);
  margin-left: calc(var(--cursorSize) / -2);
  height: var(--cursorSize);
  width: var(--cursorSize);
  display: block;
  position: fixed;
  pointer-events: none;
  top: 0;
  left: 0;
  transition: transform .05s ease-in-out, background .3s, top .05s, left .05s;
  cursor: none;
  z-index: 600;
  mix-blend-mode: difference;
  &::before {
    content: '';
    position: absolute;
    inset: 0;
    border: 1px solid rgb(#FFFFFF,1);
    background: transparent;
    border-radius: var(--cursorSize);
    transition: all .5s ease-in-out;
    transform: scale(1);
    transform-origin: center;
  }
  &.is-hovering {
    &::before {
      transform: scale(0.3);
      background: var(--color-white);
    }
  }
  @include breakpoint(sm) {
    display: none;
  }
}
