@use 'src/assets/scss/variables' as *;

.menu {
  position: fixed;
  inset: 0;
  background: var(--color-white);
  opacity: 0;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  // transform: translateX(100%);
  &.is-open {
    opacity: 1;
    z-index: 50;
    // transform: translateX(0);
  }
  &__content {
    position: absolute;
    inset: 18.4rem 0 0 0;
    display: flex;
    align-items: center;
    padding: 5rem;
  }
  &__list {
    a {
      font-size: 3.2rem;
      text-decoration: none;
      font-weight: bold;
      color: var(--color-dark);
    }
  }
}
