<div class="container">
<section id="section-one" class="page is-one">
    <div class="page__section">
      <!-- <p data-aos="fade-right" data-aos-delay="400" class="new">Nouveau</p> -->
      <h1 data-aos="fade-right" data-aos-delay="600">Sketches collection</h1>
      <a data-aos="fade-right" data-aos-delay="800" [routerLink]="'/collections/japan'" [queryParams]="{id:1}" class="btn btn-primary is-arrow-right">
        Voir la collection
      </a>
    </div>
    <div class="page__section is-carousel" data-aos="fade-left" data-aos-delay="800">
      <div class="carousel">
        <div class="carousel__container">
          <div
            *ngFor="let project of homeProjects; let i = index"
            class="carousel__item"
            [class.is-active]="(i+1) === selectedIndex"
          >
            <div class="thumbnail">
              <img class="img-responsive" src="{{ project.url }}" alt="">
              <div  class="overlay">
                <h2>{{ project.name }}</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="carousel__nav">
          <button (click)="prevProject()" class="btn btn-primary">Précédent</button>
          <button (click)="nextProject()" class="btn btn-primary">Suivant</button>
        </div>
        <div class="carousel__indicators">
          <span
            *ngFor="let project of homeProjects; let i = index"
            [class.is-active]="(i+1) === selectedIndex"
            (click)="goToProject(i+1)"
          ></span>
        </div>
      </div>
    </div>
  </section>
</div>

<!-- <h5 class="card-title mb-4">New Sandwich</h5>
<form [formGroup]="sketchForm" (submit)="submitSketch(sketchForm.value)">
  <div>
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      class="form-control"
      formControlName="name"/>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="sketchForm.invalid">Ajouter un dessin</button>
</form> -->
