<div class="container">
<section id="section-one" class="page is-one">
    <div class="page__section">
      <!-- <p data-aos="fade-right" data-aos-delay="400" class="new">Nouveau</p> -->
      <h1 data-aos="fade-right" data-aos-delay="600">Sketches collection</h1>
      <a data-aos="fade-right" data-aos-delay="800" [routerLink]="'/collections/japan'" class="btn btn-primary is-arrow-right">
        Voir la collection
      </a>
    </div>
    <div class="page__section is-carousel" data-aos="fade-left" data-aos-delay="800">
      <div class="carousel">
        <div class="carousel__container">
          <div class="carousel__item" [class.is-active]="selectedIndex === 0">
            <div class="thumbnail">
              <img class="img-responsive" src="assets/img/one/1.jpg" alt="">
            </div>
          </div>
          <div class="carousel__item" [class.is-active]="selectedIndex === 1">
            <div class="thumbnail">
              <img class="img-responsive" src="assets/img/one/2.jpg" alt="">
            </div>
          </div>
          <div class="carousel__item" [class.is-active]="selectedIndex === 2">
            <div class="thumbnail">
              <img class="img-responsive" src="assets/img/one/3.jpg" alt="">
            </div>
          </div>
        </div>
        <div class="carousel__nav">
          <button (click)="prevProject()" class="btn btn-primary">Précédent</button>
          <button (click)="nextProject()" class="btn btn-primary">Suivant</button>
        </div>
      </div>
    </div>
    <!-- <div class="page__menu">
      <a title="" [routerLink]="'/collections'" class="btn btn-primary">
        Collections
      </a>
      <a title="" [routerLink]="'/about'" class="btn btn-primary">
        A propos
      </a>
      <a title="" [routerLink]="'/contact'" class="btn btn-primary">
        Contact
      </a>
    </div> -->
  </section>
</div>

<!-- <h5 class="card-title mb-4">New Sandwich</h5>
<form [formGroup]="sketchForm" (submit)="submitSketch(sketchForm.value)">
  <div>
    <label for="name">Name</label>
    <input
      id="name"
      name="name"
      type="text"
      class="form-control"
      formControlName="name"/>
  </div>
  <button class="btn btn-primary" type="submit" [disabled]="sketchForm.invalid">Ajouter un dessin</button>
</form> -->
