@use 'src/assets/scss/mixins' as *;

h1 {
  margin-bottom: 3rem;
}

.carousel {
  width: 100%;
  display: flex;
  justify-content: center;
  @include breakpoint(sm) {
    height: 100%;
  }

  &__container {
    @include breakpoint(sm) {
      height: 100%;
    }
  }

  &__item {
    @include breakpoint(sm) {
      height: 100%;
    }
    .thumbnail {
      @include breakpoint(sm) {
        height: 100%;
      }
    }
  }

}
