<section id="section-collections" class="section is-collections">
  <div class="section__header">
    <h2>Collections</h2>
  </div>
  <div class="section__content">
    <ul>
      <li>
        <a href="">
          <span>
            Houses
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span>
            Cities
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span>
            Boats
          </span>
        </a>
      </li>
      <li>
        <a href="">
          <span>
            Nature
          </span>
        </a>
      </li>
    </ul>
  </div>
  <div class="section__footer"></div>
</section>
