<section id="section-last" class="section is-last">
  <div class="section__header">
    <h2>Last sketches</h2>
  </div>
  <div class="section__content">
    <div class="sketch">
      <div class="sketch__img">
        <img src="assets/img/last/1.jpg" alt="">
      </div>
      <div class="sketch__dot"></div>
    </div>
    <div class="sketch">
      <div class="sketch__img">
        <img src="assets/img/last/2.jpg" alt="">
      </div>
      <div class="sketch__dot"></div>
    </div>
    <div class="sketch">
      <div class="sketch__img">
        <img src="assets/img/last/3.jpg" alt="">
      </div>
      <div class="sketch__dot"></div>
    </div>
  </div>
  <div class="section__footer"></div>
</section>