<section id="section-last" class="section is-last">
  <div class="section__header">
    <h2>Last sketches</h2>
    <a class="btn btn-border" href="">See more</a>
  </div>
  <div class="section__content">
    <div class="sketch" data-aos="fade-right" data-aos-offset="300" data-aos-duration="1000">
      <div class="sketch__img">
        <img src="assets/img/last/1.jpg" alt="">
      </div>
      <div class="sketch__dot"></div>
    </div>
    <div class="sketch" data-aos="fade-up" data-aos-offset="300" data-aos-duration="1000">
      <div class="sketch__img">
        <img src="assets/img/last/2.jpg" alt="">
      </div>
      <div class="sketch__dot"></div>
    </div>
    <div class="sketch" data-aos="fade-left" data-aos-offset="300" data-aos-duration="1000">
      <div class="sketch__img">
        <img src="assets/img/last/3.jpg" alt="">
      </div>
      <div class="sketch__dot"></div>
    </div>
  </div>
  <div class="section__footer"></div>
</section>
