@use 'src/assets/scss/mixins' as *;

.section {
  padding: 0 4rem;
  display: flex;
  flex-direction: column;
  @include breakpoint-min(sm) {
    padding: 0 12rem;
  }
  &__header {
    padding: 0 4rem;
    border-left: 1px solid var(--color-gold);
    min-height: 16rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    @include breakpoint-min(sm) {
      padding: 5rem 0 5rem 8rem;
      flex-direction: row;
    }
  }
  &__footer {
    border-right: 1px solid var(--color-gold);
    min-height: 16rem;
  }
  &__content {
    display: flex;
    flex-direction: column;
    flex: 1;
    @include breakpoint-min(sm) {
      flex-direction: row;
    }
  }
}

.sketch {
  flex: 1;
  padding: 5rem;
  border: 1px solid var(--color-gold);
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  & + .sketch {
    border-left: none;
  }

  &__dot {
    height: 30%;
    width: 1px;
    background: var(--color-gold);
    position: absolute;
    bottom: 0;
    left: 50%;
    &:before {
      content: '';
      width: 2.4rem;
      height: 2.4rem;
      border-radius: 2.4rem;
      background: var(--color-white);
      border: 1px solid var(--color-gold);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }
    &:after {
      content: '';
      width: 1.2rem;
      height: 1.2rem;
      border-radius: 1.2rem;
      background: var(--color-yellow);
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate3d(-50%,-50%,0);
    }
  }

  &:nth-child(2) .sketch__dot {
    height: 50%;
  }

  &__img {
    > img {
      max-width: 100%;
    }
  }
}
