<section class="section-hero">
  <div class="wrapper">
    <div class="hero-image">
      <img src="/assets/img/studio/archi/archi1.png" alt="" parallaxEffect [ratio]="0.2">
    </div>
    <h1 data-aos="fade-right" data-aos-delay="0">
      Architecture 
      <span data-aos="fade-right" data-aos-delay="50">Experience</span>
    </h1>
    <div class="row hero-row">
      <div class="col-md-4" data-aos="fade-right" data-aos-delay="100">
        <p>Proin viverra, ligula sit amet ultrices semper, ligula arcu tristique sapien, a accumsan nisi mauris ac eros. Sed augue ipsum, egestas nec, vestibulum et, malesuada adipiscing, dui. Nulla sit amet est. Donec vitae orci sed dolor rutrum auctor. Aenean imperdiet.</p>
      </div>
      <div class="col-md-4" data-aos="fade-right" data-aos-delay="150">
        <p>Fusce commodo aliquam arcu. Donec posuere vulputate arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Praesent ut ligula non mi varius sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien, quis venenatis ante odio sit amet eros.</p>
      </div>
    </div>
    <div class="d-flex justify-content-center" data-aos="fade-right" data-aos-delay="200">
      <a href="" class="cta">Call to action</a>
    </div>
  </div>
</section>
