section {
  .section__content {
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
  }
}

.row {
  width: 100%;
}

h1 {
  font-family: 'SquadaOne';
  color: var(--color-white);
  font-size: 4rem;
  span {
    color: var(--color-white);
    display: block;
    font-size: 8rem;
  }
}

// CATEGORY
.section-category {
  position: relative;
  overflow: hidden;
  &__content {
    min-height: 100vh;
    display: flex;
    align-items: center;
  }
  .category-list {
    display: flex;
    flex-direction: column;
    gap: 11rem;
  }
  .category-link {
    font-size: 15rem;
    font-family: 'SquadaOne';
    display: block;
  }
}

// SLIDESHOW
.section-slideshow {
  background: var(--color-white);
  &__content {
    min-height: 100vh;
  }
}

// FOOTER
.footer {
  min-height: 50vh;
  display: flex;
  align-items: stretch;
  &__content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}
