<app-hero></app-hero>
<app-grid></app-grid>
<section class="section-category">
  <div class="container">
    <div class="section-category__content">
      <div class="category-list">
        <a class="category-link" href="">Nantes <span></span></a>
        <a class="category-link" href="">Japan store</a>
        <a class="category-link" href="">Cocktail</a>
      </div>
    </div>
  </div>
</section>
<section class="section-slideshow">
  <div class="section-slideshow__content">

  </div>
</section>
<footer class="footer">
  <div class="footer__content">
    <a title="" [routerLink]="'/'" class="header-logo">
      <img src="assets/img/logo.svg" height="70" alt="">
    </a>
  </div>
</footer>
