<div class="collection-item">
  <div class="collection-title">
    <span class="number">{{ collectionNumber }}</span>
    <h2>{{ collectionSlug }}</h2>
  </div>
  <div class="collection-content">
    <ng-container *ngFor="let project of collectionProjects; let i=index">
      <app-collection-detail data-aos="fade-up" data-aos-offset="100" [project]="project"></app-collection-detail>
    </ng-container>
  </div>
  <div class="collection-action">
    <button class="btn btn-primary">Voir plus</button>
  </div>
</div>