<section class="section-carousel">
  <div class="carousel-wrapper">
    <div class="carousel-item">
      <span>[ PROJECT 01 ]</span>
      <img src="/assets/img/studio/archi/archi5.png" alt="">
    </div>
    <div class="carousel-item">
      <span>[ PROJECT 02 ]</span>
      <img src="/assets/img/studio/archi/archi6.png" alt="">
    </div>
    <div class="carousel-item">
      <span>[ PROJECT 03 ]</span>
      <img src="/assets/img/studio/archi/archi7.png" alt="">
    </div>
    <div class="carousel-item">
      <span>[ PROJECT 04 ]</span>
      <img src="/assets/img/studio/archi/archi8.png" alt="">
    </div>
  </div>
</section>
