<section class="section-values">
  <div class="wrapper">
    <div class="section-header">
      <h2>Subtitle</h2>
      <div class="section-nav">
        <button class="nav-button"></button>
        <button class="nav-button"></button>
      </div>
    </div>
    <div class="values-list">
      <div class="values-item">
        <h3><span>01</span>Titre</h3>
        <p>Fusce commodo aliquam arcu. Donec posuere vulputate arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Praesent ut ligula non mi varius sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien.</p>
      </div>
      <div class="values-item">
        <h3><span>02</span>Titre</h3>
        <p>Fusce commodo aliquam arcu. Donec posuere vulputate arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Praesent ut ligula non mi varius sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien.</p>
      </div>
      <div class="values-item">
        <h3><span>03</span>Titre</h3>
        <p>Fusce commodo aliquam arcu. Donec posuere vulputate arcu. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Fusce id purus. Praesent ut ligula non mi varius sagittis. Etiam sollicitudin, ipsum eu pulvinar rutrum, tellus ipsum laoreet sapien.</p>
      </div>
    </div>
  </div>
</section>
