<div class="container typefaces">
  <div class="hero">
    <h1><span>Type</span><span>faces</span></h1>
    <div class="hero--content">
      <p>All of theses typefaces are totally free to use for your personnal work. These are my best font files usage. Feel free to download.</p>
      <button class="btn">Browse</button>
    </div>
  </div>
  <div class="list">
    <div class="list__item">
      <div class="list__item-content" style="--font-family-item: 'AbrilFatface'">
        <p>Abril Fatface</p>
        <p>1 variant</p>
        <img src="" alt="">
      </div>
    </div>
  </div>
</div>
