<div class="typefaces">
  <div class="container">
    <div class="hero">
      <h1><span>Type</span><span>faces</span></h1>
      <div class="hero--content">
        <p>All of theses typefaces are totally free to use for your personnal work. These are my best font files usage. Feel free to download.</p>
        <button class="btn">Browse</button>
      </div>
    </div>
    <div class="list">
      <div class="list__item">
        <div class="list__item-content">
          <p class="list__item-title" style="--font-family-item: 'Abril Fatface'">Abril Fatface</p>
          <p>1 variant</p>
          <img src="" alt="">
        </div>
      </div>
      <div class="list__item">
        <div class="list__item-content">
          <p class="list__item-title" style="--font-family-item: 'Allright'">Allright</p>
          <p>1 variant</p>
          <img src="" alt="">
        </div>
      </div>
    </div>
    <a class="back-home" [routerLink]="'/studio'">Accueil studio</a>
  </div>
</div>
