<nav class="header__nav" [class.is-open]="isOpen">
  <div class="container">
    <ul>
      <li>
        <a [routerLink]="'/'" routerLinkActive="is-active">
          <span>Accueil</span>
        </a>
      </li>
      <li>
        <a [routerLink]="'/collections'" routerLinkActive="is-active">
          <span>Collections</span>
        </a>
      </li>
      <!-- <li>
        <a [routerLink]="'/about'" routerLinkActive="is-active">
          <span>About</span>
        </a>
      </li> -->
      <!-- <li>
        <a [routerLink]="'/contact'" routerLinkActive="is-active">
          <span>Contact</span>
        </a>
      </li> -->
    </ul>
  </div>
</nav>
<div class="menu__footer" [class.is-open]="isOpen">
  <div class="container">
    <ul class="menu__socials">
      <li>
        <a href="" title="Instagram">Ig</a>
      </li>
      <li>
        <a href="" title="Behance">Be</a>
      </li>
      <li>
        <a href="" title="Boutique en ligne">Shop</a>
      </li>
    </ul>
  </div>
</div>
