@use 'src/assets/scss/variables' as *;
@use 'src/assets/scss/mixins' as *;

.project {
  position: relative;
  h2 {
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s ease-in-out;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
    text-align: center;
  }
  &__thumbnail {
    // height: 20rem;
    overflow: hidden;
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 1;
    transition: all .5s ease-in-out;
  }
  // &:hover {
  //   cursor: pointer;
  //   h2 {
  //     opacity: 1;
  //   }
  //   img {
  //     opacity: 0.6;
  //   }
  // }
}
