.collection-project {
  position: relative;
  h2 {
    font-size: 1.8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transition: all .5s ease-in-out;
    transform: translate3d(-50%, -50%, 0);
    opacity: 0;
  }
  img {
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
    transition: all .5s ease-in-out;
  }
  &:hover {
    cursor: pointer;
    h2 {
      opacity: 1;
    }
    img {
      opacity: 0.6;
    }
  }
}
